body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #111;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.left {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.left img {
  width: 100%;
  border-radius: 10px;
  border: 3px solid #ff69b4;
}

.right {
  flex: 2;
  min-width: 300px;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #e91e63;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

ul li {
  margin-bottom: 5px;
}
.kontak form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.kontak label {
  font-weight: bold;
  margin-top: 10px;
}

.kontak input,
.kontak textarea {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 14px;
}

.kontak button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kontak button:hover {
  background-color: #e91e63;
}
